{{/* This file is combined with the root.tmpl to display the blog home page. */}}

{{define "title"}}Ryan Kerry Blog{{end}}

{{define "content"}}
	{{range .Data}}
		{{template "doc" .}}
	{{end}}

	<div class="load-more">
        <a href="{{.BasePath}}/index" class="btn">Show More</a>
    </div>
{{end}}