{{/* This template is combined with other templates to render blog pages. */}}

{{define "root"}}
<!DOCTYPE html>
<html>
<head>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{{template "title" .}}</title>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto:400,700" rel="stylesheet">

    <link type="text/css" rel="stylesheet" href="/static/styles/bootstrap.min.css" />
	<link type="text/css" rel="stylesheet" href="/static/styles/blog.css" />

	<link rel="alternate" type="application/atom+xml" title="ryankerry.com - Atom Feed" href="https://ryankerry.com/feed.atom" />

</head>
<body>

    <main class="app-container">
        <div class="container-fluid">

            <!-- / header - start / -->
            <header class="app-header">
                <div class="container">
                    <img src="/static/images/rk.jpg" alt="" class="img-circle" />
                    <h1>Ryan Kerry</h1>
                    <p>I am a Techie, Cloud Architect and Agile Professional, Global CTO @lushltd.</p>
                </div>
            </header>
            <!-- / header - end / -->

            <!-- / articles - start / -->
            <div class="app-wrapper">
                <div class="container flex">
                    {{template "content" .}}
                </div>
            </div>
            <!-- / articles - end / -->

            <!-- / footer - start / -->
            <footer class="app-footer">
                <div class="container">

                </div>
            </footer>
            <!-- / footer - end / -->

        </div>
    <div>

    <script type="text/javascript" src="/static/scripts/jquery-1.12.0.min.js"></script>
    <script type="text/javascript" src="/static/scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/scripts/main.js"></script>

</body>
</html>
{{end}}



{{define "doc"}}

    <div class="card article-item" data-slug="{{.Path}}">
        <a href="{{.Path}}" title="{{.Title}}" class="card-image">
            <div class="background-image">
                <img src="{{.Image}}" alt="" class="img-responsive" />
            </div>
        </a>

        <div class="card-details tag-{{.Category | ToLower}}">
            <div class="card-tag">
                {{.Category}}
            </div>

            <h2 class="title">
                <a href="{{.Path}}" title="{{.Title}}">{{.Title}}</a>
            </h2>

            <p class="meta">
                {{with .Authors}}
                    By {{authors .}}
                {{end}}
                - {{.Time.Format "2 January 2006"}}
            </p>

            <div class="intro">
                <p>{{.Intro}}</p>
            </div>

            <div class="read-more link">
                <a href="{{.Path}}" title="">Read more</a>
            </div>
        </div>
    </div>

{{end}}



{{ define "doc_promoted" }}

{{ end }}



{{define "doc_single"}}
<div class="content-tag"></div>

<h1 class="title">{{.Title}}</h1>

<p class="meta">
    {{with .Authors}}
        By {{authors .}}
    {{end}}
    <span class="date">{{.Time.Format "2 January 2006"}}</span>
</p>

<hr class="divide" />


{{.HTML}}

<hr class="divide" />

{{with .Authors}}
<section class="author">
    <h3>About {{authors .}}</h3>
    <p>Something in here...</p>
</section>
{{end}}

{{end}}